.error{
    @include center-screen;
    @include flex-c;

    &__text{
      @include font($f-s:35px,$f-w:800);
      text-align:center;
    }

    &__img{
        border-radius: 5px;
        max-height: 45dvh;

    }
    &__box{
        @include flex-c;
        gap: 40px;
        @include font($f-s:38px,$f-w:800);
    }
}
