.footer {
    width: 100vw;

    &__line {
        width: 100dvw;
        height: 1px;
        background:$gradient;
    }
    &__content{
       @include flex-b;
        padding: 25px 60px;
    }
    &__span{
        padding-left: 6px;
        opacity: 0.8;
    }

    &__logo{
        height: 35px;
    }
}