# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.env
/src/animate/UI/PopUp&Modal.js
/src/animate/Header
/src/сomponents/Collections/EnteredSliderCollections
/src/сomponents/Header
/src/сomponents/Home/HomeTop10
/src/сomponents/Swiper/DigitalTopSwiper
/src/сomponents/UI/Banner/BannerPreview/BannerPreviewInfo
/src/img
/src/ViewPage/ViewPlayer